.bodyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100% - 50px);
}

.pages {
    margin: 5px 10px 20px 10px;
    color: white;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }

 
