.page-button {
  margin: 5px 15px 20px 15px;
  color: white;
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
}

.page-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: red;
}