.menu-pages-container {
    position: absolute;
    background: #719196;
    top: 55px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(70% - 100px);
    padding-top: 40px;
    display: block;
    max-width: 250px;
  }
  
  .arrow {
    position: absolute;
    background: #719196;
    top: -4px;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
 
  .pages {
    height: 100%;
    overflow: auto;
  }
  
  .pages p {
    width: 70px;
    margin:auto;
    padding: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;  
    transition: transform 1s;  

  }
  .pages :hover{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .show {
    display: block;
  }
 